Client/Connected Services/MyServiceReference/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64822/MyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64822/MyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64822/MyService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_Message_InputMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="IMyService_Message_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMyService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IMyService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_initUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:initUsers" />
  </wsdl:message>
  <wsdl:message name="IMyService_initUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:initUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_addContact_InputMessage">
    <wsdl:part name="parameters" element="tns:addContact" />
  </wsdl:message>
  <wsdl:message name="IMyService_addContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:addContactResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_deleteContact_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteContact" />
  </wsdl:message>
  <wsdl:message name="IMyService_deleteContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteContactResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_showContact_InputMessage">
    <wsdl:part name="parameters" element="tns:showContact" />
  </wsdl:message>
  <wsdl:message name="IMyService_showContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:showContactResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="Message">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/Message" message="tns:IMyService_Message_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/MessageResponse" message="tns:IMyService_Message_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/Login" message="tns:IMyService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/LoginResponse" message="tns:IMyService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/Logout" message="tns:IMyService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/LogoutResponse" message="tns:IMyService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="initUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/initUsers" message="tns:IMyService_initUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/initUsersResponse" message="tns:IMyService_initUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/addContact" message="tns:IMyService_addContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/addContactResponse" message="tns:IMyService_addContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/deleteContact" message="tns:IMyService_deleteContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/deleteContactResponse" message="tns:IMyService_deleteContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/showContact" message="tns:IMyService_showContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/showContactResponse" message="tns:IMyService_showContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/IMyService/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMyService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IMyService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initUsers">
      <soap:operation soapAction="http://tempuri.org/IMyService/initUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addContact">
      <soap:operation soapAction="http://tempuri.org/IMyService/addContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteContact">
      <soap:operation soapAction="http://tempuri.org/IMyService/deleteContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showContact">
      <soap:operation soapAction="http://tempuri.org/IMyService/showContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://localhost:64822/MyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>